.gemPic {
    height: 100%;
    width: 100%     ;
    border: 2px solid gold;
}
 h1, h2, h3 {
    color:gold;
    font-family: Arial, sans-serif; 
}
body {
    margin: 0%;
    background-image: url(../images/soccerField2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;    
}
h5 {
 font-style: italic;
 color:gold;
 font-family: Arial, sans-serif; 
 margin-bottom: 20px;
}

#resultText {
    
}
